<!-- footer__section__start -->
 
<div class="footer ">
    <!-- animate__content__start -->
<div class="animate__content sp_bottom_100">
    <div class="container-fluid full__width__padding">
        <div class="animate__content__wrap">
            <div class="animate__content__single">
                <span> Returns accepted for 30 days</span>
            </div>
            <div class="animate__content__single animate__content__single--2">
                <span> Free return shipping</span>
            </div>
            <div class="animate__content__single">
                <span> No restocking fee</span>
            </div>
            <div class="animate__content__single animate__content__single--2">
                <span> No final sale items</span>
            </div>
            <div class="animate__content__single">
                <span> 100% Payment Secure </span>
            </div>
            <div class="animate__content__single animate__content__single--2">
                <span>Online Support</span>
            </div>
            <div class="animate__content__single">
                <span> Returns accepted for 30 days</span>
            </div>
            <div class="animate__content__single animate__content__single--2">
                <span> Free return shipping</span>
            </div>
            <div class="animate__content__single">
                <span> No restocking fee</span>
            </div>
            <div class="animate__content__single animate__content__single--2">
                <span> No final sale items</span>
            </div>
            <div class="animate__content__single">
                <span> 100% Payment Secure </span>
            </div>
            <div class="animate__content__single animate__content__single--2">
                <span>Online Support</span>
            </div>
        </div>
    </div>
</div>
    <div class="footer__inner sp_top_80">
    <div class="container sp_bottom_60">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="footer__widget">
                    <h4 class="footer__title">About Us.</h4>
                    <div class="footer__content">
                        <p>Minimal E-Commerce is a dynamic and innovative online retail platform that offers a wide range of products to customers worldwide.</p>
                    </div>
                    <div class="footer__social__icon">
                        <ul>
                            <li><a target="_blank" title="Facebook-f" href="https://www.facebook.com/shopify"><i class="fab fa-facebook-f"></i></a></li>     
                            
                            
                            <li><a target="_blank" title="Twitter" href="https://twitter.com/shopify"><i class="fab fa-twitter"></i></a></li>       
                               
                            
                            
                            <li><a target="_blank" title="Youtube" href="https://www.youtube.com/user/shopify"><i class="fab fa-youtube"></i></a></li>       
                            
                            
                            <li><a target="_blank" title="Instagram" href="https://www.instagram.com/shopify/"><i class="fab fa-instagram"></i></a></li>       
                            
                            
                            <li><a target="_blank" title="Tiktok" href="https://www.tiktok.com/@shopify"><i class="fab fa-tiktok"></i></a></li>       
                            
                            
                            </ul>
                    </div>
                    <div class="footer__bottom">
<h5>Guaranteed safe checkout</h5>
                            <div class="footer__img">
                                <ul>
                                    <li>
                                        <img src="/assets/img/footer/footer__1.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="/assets/img/footer/footer__2.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="/assets/img/footer/footer__3.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="/assets/img/footer/footer__4.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="/assets/img/footer/footer__5.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="/assets/img/footer/footer__6.svg" alt="">
                                    </li>
                                </ul>
                            </div>
                </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">Quick Link</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="/account">My Account</a></li>
                        <li><a routerLink="../../cart-details">My Cart</a></li>
                        <li><a routerLink="../../wishlist-details">Wishlist</a></li>
                        
                        <li><a href="../../contact-details">Need Help?</a></li>
                    </ul>
                  </div>
                </div>
            </div>


            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">Information</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a routerLink="../../about-details">About us</a></li>
                        <li><a routerLink="../../contact-details">Contact</a></li>
                        <li><a href="../../blogs-detail">Blogs</a></li>
                        
                        <li><a href="/pages/contact">Size Chart</a></li>
                    </ul>
                  </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">Policies</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="/account">Privacy Policy</a></li>
                        <li><a href="/cart">Refund Policy</a></li>
                        <li><a href="/pages/wishlist">Terms of Service</a></li>
                        
                        <li><a href="/pages/contact">Shipping Policy</a></li>
                    </ul>
                  </div>
                </div>
            </div>



        </div>
    </div>
</div>

    <div class="copyright">
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright__text">
                
                <p>© 2024 <strong>Minimalin</strong>. All rights reserved.</p>
           
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
 <!-- footer__section__end -->




<!-- modal__section__start -->
<div class="grid__quick__view__modal modalarea modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      
                <div class="modal-body" *ngIf="selectedProduct">
                <div class="row align-items-center">
              
                    <div class="col-xl-6 col-lg-6 col-md-6">
    
                     <div class="grid__quick__img">
                        <img class="primary__image product-image" [src]="'/assets/img/ProductImagesUnsplash/' + selectedProduct.img_Name" alt="Primary Image">
                     </div>
    
    
                    </div>
    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                      <div class="grid__quick__content">
                        <h3>{{ selectedProduct.pName}}</h3>
                        <div class="quick__price">
                            <del *ngIf="selectedProduct.pBasePrice > 10000">₹{{ selectedProduct.pBasePrice + 2000 }}</del>
                                                     <span>₹{{ selectedProduct.pBasePrice }}</span>
                        </div>
                           <p>{{selectedProduct.pDescription}}</p>


                        <div class="selector__wrapper">
                            <select class="single-option-selector select--wd" data-option="option1" id="product-select-qv-option-0">
                                <option value="White">White</option>
                                <option value="Gold">Gold</option>
                                <option value="Grey">Grey</option>
                                <option value="Maroon">Maroon</option>
                                <option value="Magenta">Magenta</option>
                            </select>
                        </div>


                        <div class="featurearea__quantity">
                            <div class="qty-container">
                                <button class="qty-btn-minus btn-qty" type="button"><i class="fa fa-minus"></i></button>
                                <input type="text" name="qty" value="1" class="input-qty">
                                <button class="qty-btn-plus btn-qty" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                            <a c    lass="default__button" (click)="addToCart(this.selectedProduct)">Add to cart</a>
                        
                        </div>

                      </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>
